<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
>

    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.Aurora.Base"
    >
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/Theme.Aurora.Base"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XserverActivity"
            android:taskAffinity=".XserverActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Aurora"
            android:supportsPictureInPicture="true"
            android:configChanges="fontScale|orientation|screenSize|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|screenLayout|touchscreen|uiMode|smallestScreenSize|density"
            android:resizeableActivity="true"
            android:windowSoftInputMode="stateHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.SECONDARY_HOME" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:theme="@style/Theme.Aurora.Base"
            android:name=".ui.activities.SystemShellActivity"
            android:launchMode="singleTop"
            android:exported="true" />
        
        <activity
            android:theme="@style/Theme.Aurora.Base"
            android:name=".ui.activities.LogActivity"
            android:launchMode="singleTop"
            android:exported="true" />

        <activity
            android:theme="@style/Theme.Aurora.Base"
            android:name=".vulkan.VulkanWrapperActivity"
            android:launchMode="singleTop"
            android:exported="true" />

        <activity
            android:theme="@style/Theme.AppCompat.DayNight"
            android:excludeFromRecents="true"
            android:name=".LoriePreferences"
            android:taskAffinity=".LoriePreferences"
            android:supportsPictureInPicture="false"
            android:resizeableActivity="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.samsung.android.multidisplay.keep_process_alive"
            android:value="false" />
        <meta-data
            android:name="android.allow_multiple_resumed_activities"
            android:value="true" />

        <service
            android:name=".utils.KeyInterceptor"
            android:exported="true"
            android:label="Xserver KeyInterceptor"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <service
            android:name=".core.services.XserverLoader"
            android:enabled="true"
            android:exported="false">
            <!-- Declare quaisquer intenções ou configurações adicionais aqui -->
        </service>

        <receiver
            android:name=".LoriePreferences$Receiver"
            android:exported="true"
            tools:ignore="ExportedReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.termux.x11.CHANGE_PREFERENCE" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
